@keyframes navButtonAni {
    0%{
        box-shadow: 0 0 1px 1px var(--nav-button-glow);
    }
    50%{
        box-shadow: 0 0 4px 4px var(--nav-button-glow);
    }
    100%{
        box-shadow: 0 0 1px 1px var(--nav-button-glow);
    }
  }
  @keyframes zoomIn {
    0%{
        transform: scale(.01);
    }
    50%{
        transform: scale(1.1) scaleY(1.1);
        
    }
    100%{
        transform: scale(1)scaleY(1);
        
    }
  }