@import 'animation.css';
canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;
  --nav-bar-color: rgb(205, 2, 2);
  --title-bg: rgba(255, 255, 255, 0.486);
  --title-text: rgb(252, 162, 17);
  --nav-button-glow: red
}
body{
  height: 900rem;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.navbar{
  position: fixed;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
}
.collapse{
  background-color: var(--dark-bg);
}
.title{
  font-family: 'Raleway', sans-serif;
  background-color: var(--title-bg);
  color: var(--title-text);
  font-weight: 7000;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px;
  padding: .2em;
  line-height: 50px;
  letter-spacing: 3px;
  animation: zoomIn 3s;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: var(--nav-bar-color);
}
.navbar-toggle{
  animation: navButtonAni 3s infinite;
}
